# Version control
.git
.gitignore
.github/

# Python
__pycache__
*.pyc
*.pyo
*.egg-info/
.venv
venv

# Environment
.env
.env.local

# Development
.vscode
.idea
README.md
dockerfile.dev
Makefile

# Data
backups/
logs/